# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
      # trunk-ignore(yamllint/quoted-strings)
      time: '09:00'
      timezone: America/Los_Angeles
    reviewers:
      - jjsizemore
    assignees:
      - jjsizemore
    labels:
      - dependencies
    # Group dependencies to organize pull requests
    groups:
      production-dependencies:
        dependency-type: production
      development-dependencies:
        dependency-type: development
